/*

body {
  max-width: 1000px;
  margin: auto;
  font-family: 'Bookman Old Style', monospace;
  color: white;
  background-image: url(image/lighthouse5.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
}


h1 {
  font-size: 60px;
  text-align: center;
  border-style: solid;
  border-width: 0 0 8px 0;
  margin: 220px 2em 20px 2em;
  background-color: rgba(255, 255, 255, 0.1);
}

h3 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 35px;
}

h4 {
  padding: auto;
  margin: 30px auto 40px auto;
  font-size: 25px;

}

#identity {
  font-family: 'Harrington', monospace;
  font-style: italic;
}

.rolling-menu {
  position: fixed;
  left: 5px;
  top: 50%;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px 5px 3px 5px;
  border-radius: 10%;
  text-align: center;

}

h5{
color: rgb(37,51,80);
margin: 10px;
border-style: dotted;
border-width: 0 0 2px 0;
font-size: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.menu {
  width: auto;
  margin: 50px 2.5em 0 2.5em;
}

p {
  text-indent: 30px;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  margin: 10px;

}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(244, 229, 198);
  border-style: dotted;
  border-color: rgb(244, 229, 198);
  border-width: 0 0 3px 0;
}

a:visited {
  color: white;
}

a.picture:hover {
  border-style: none;
}

a.menu-link:link {
  color: rgb(37,51,80);
}

a.menu-link:hover {
border-style: none;
color: rgb(37,51,90)
}


a.menu-link:visited {
  color: rgb(37,51,80);
}

.title {
  font-style: normal;
  margin: 120px auto 10px auto;
}

.school-name {
  padding: auto 10px auto 10px;
  text-indent: 0;
  font-size: 25px;
}


.main-text {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 40px 20px auto 20px;
  width: 500px;
}


image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: solid;
  border-width: medium;
  border-color: white;
  margin: auto 50px auto 50px;
}


.image-group {
  margin: 50px 2em 80px 2em;
}

#picture-text {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 25px;
  text-indent: 0;

}

#novel-column{
  width: 50px;
  height: 50px;
}

#email {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}

footer {
  font-family: 'Dubai Medium', cursive;
  font-size: 20px;
  text-align: center;
  margin: 20px auto 20px auto;
}

@media (max-width: 600px) {
  .row{
    display: flex;
    flex-direction: column;
  }
  .column-reverse{
    align-items: center;
  }
  #novels-column{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
  }

} */
